<h3>Edit Your Closet Item</h3>

<form method="post" action="/items/<%=@item.id%>">
<input type="hidden" name="_method" value="patch">	

	<label>Clothing Type:</label>
  <input type="text" name="item[clothing_type]" id="clothing_type" value="<%=@item.clothing_type%>">
  
  <label>Brand:</label>
  <input type="text" name="item[brand]" id="brand" value="<%=@item.brand%>">
  
  <label>Size:</label>
  <input type="text" name="item[size]" id="size" value="<%=@item.size%>">
  
  <button type="submit" id="submit" class="btn btn-primary">Submit</button>
</form>

<% if !@errors.empty? %>
<% @errors.each do |message| %>
  <font color="red"> <strong> <%= message %>.</strong> </font>
<% end %>
<% end %>

<br>
<form action="/items/<%= @item.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <button type="submit" id="delete" value="Delete Item" class="btn btn-primary">Delete</button>
</form>	