<h3>Welcome, <%= @user.username %>!</h3>
<h4>Here is your current closet!</h4>

<ul class="list-group list-group-horizontal">
  <% @items.each do |item| %>
    <li class="horizontal"><strong><font color="black"> Type:</font> </strong> <%= item.clothing_type %> 
    <strong><font color="black">Brand:</font></strong> <%= item.brand %>
    <strong><font color="black">Size:</font></strong> <%= item.size %>
    <p>Would you like to <a href='/items/<%=item.id%>/edit'>edit</a> this item?</p>
    <p>Would you like to <a href='/items/<%=item.id%>'>view</a> this item?</p></li>

  <% end %>
</ul>

<h3>Click <a href='/items/new'>here<a/> to add another item to your closet.</h3>

