<h3>Welcome, <%= @user.username %>!</h3>
<br>
<h4>Here is your current closet!</h4>
<ul>
<% @items.each do |item| %>
  <li><strong>Type:</strong> <%= item.clothing_type %> - 
  <strong>Brand:</strong> <%= item.brand %> - 
  <strong>Size:</strong> <%= item.size %>
  <p>Would you like to <a href='/items/<%=item.id%>/edit'>edit</a> this item?</p></li>
<% end %>
<p>Click <a href='/items/new'>here<a/> to add another item to your closet.</p>

</ul>